* {
    margin: 0;
    border: none;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    background-image: url("concept.jpg");
    background-size: cover;
}

#card {
    margin: 0;
    margin-left: auto;
    padding: 10px;
    padding-right: 20px;
    width: 40%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

#main-title {
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

#main-subtitle {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
}

hr {
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    height: 2px;
    background-color: white;
}

.section-title {
    margin-bottom: 5px;
    font-size: 20px;
    font-style: italic;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"] {
    display: block;
    margin: 10px;
    margin-left: 0;
    border-radius: 5px;
    padding: 5px;
    width: calc(100% - 10px);
    font-size: 16px;
    color: black;
}

label {
    display: block;
    margin-top: 2px;
    margin-bottom: 2px;
}

textarea {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
    width: calc(100% - 10px);
    min-height: 50px;
    color: black;
}

#request {
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    background-color: greenyellow;
    color: black;
}

main {
    margin-bottom: 10px;
}

.credits {
    font-size: 14px;
    font-style: italic;
}
